<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <section id="landing" class="flex-center flex-column">

        <div id="title-container" class="center-container">
            <h1 class="display-1 kalnia brown-text">BLIND DATE WITH A MOVIE</h1>
            <p class="lead kalnia brown-text">Can't pick a movie? I can help. Don't judge a book by its cover :)</p>
        </div>

        <a class="nav-link page-scroll" href="#pick-movies">
            <div class="grow">
                <img src="../static/admitone.png" style="width:200px;">
            </div>
        </a>

    </section>

    <section id="pick-movies" class="flex-center flex-column">
        <div class="center-container">
            <div class="grow">
                <img src="../static/givemovies.png" style="width:200px;">
            </div>

            <div class="row" id="examples-row">
                <!-- <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                    movie 1
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                    movie 2
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                    movie 3
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                    movie 4
                </div> -->
            </div>
        </div>

        <div id="loading-container" style="display:none">
            hello
        </div>

        <div id="results-container" style="display:none">
            results
        </div>

    </section>



    <!-- <div class="scroll-top">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div> -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="../static/scripts.js"></script>
    <script src="../static/addmovies.js"></script>


</body>

</html>