<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blind Date with a Movie</title>
    <meta name="description" content="movie recommendations made fun" />


    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Playpen+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
    <!--Inter UI font-->
    <link href="https://rsms.me/inter/inter-ui.css" rel="stylesheet">

    <!--vendors styles-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">

    <!-- Bootstrap CSS / Color Scheme -->
    <link rel="stylesheet" href="../static/default2.css" id="theme-color">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>



        function getMovies(mainstream) {

            var bgElement = document.querySelector('.bg-secondary');
            if (bgElement) {
                bgElement.style.backgroundImage = 'none';
            }
            document.getElementById('content-container').style.display = 'none';
            document.getElementById('movies-container').style.display = 'none';
            document.getElementById('loading-overlay').style.display = 'flex';

            $.ajax({
                url: '/generate_descriptions?mainstream=' + mainstream,
                type: 'GET',
                success: function (response) {
                    var descriptions = response.blind_descriptions;
                    var links = response.links;
                    document.getElementById('content-container').style.display = 'none';
                    document.getElementById('loading-overlay').style.display = 'none';
                    document.getElementById('movies-container').style.display = 'flex';

                    if (descriptions && descriptions.length === 4 && links && links.length === 4) {
                        for (var i = 0; i < descriptions.length; i++) {
                            var card = document.getElementById('card-' + i);
                            var descriptionElement = card.getElementsByClassName('movie-description')[0]; // Get the p element
                            descriptionElement.textContent = descriptions[i]; // Update text content

                            // Assuming the card's parent is an anchor tag that should be updated with the link
                            var anchor = card.closest('a');
                            if (anchor) {
                                anchor.href = links[i];
                                anchor.target = '_blank';
                            }
                        }
                    }
                },
                error: function (error) {
                    document.getElementById('content-container').style.display = 'block';
                    document.getElementById('loading-overlay').style.display = 'none';
                    document.getElementById('movies-container').style.display = 'none';

                    console.log('Error:', error);
                }
            });
        }


    </script>
</head>

<body>






    <section class="py-7 py-md-0 bg-primary" id="home">

        <div class="title-container">
            <a class="nav-link page-scroll" href="#pick">
            <img src="../static/movielogo.png" alt="Book Image">
        </a>

            <p class="lead">🎟️ Can’t pick a movie? I can help.
                Don't judge a movie by its poster 🎬</strong>
            </p>
        </div>

        <div class="container d-flex justify-content-center">
            <div class="row">

                <div class="mr-3">
                    <a href="https://www.themoviedb.org/movie/299534-avengers-endgame?language=en-US" target="_blank">
                    <div class="book">
                        <img src="https://lumiere-a.akamaihd.net/v1/images/p_avengersendgame_19751_e14a0104.jpeg"
                            alt="Book Image">
                        <div class="cover">
                            <p class="ml-2">Surviving heroes unite, rising from ruins to restore universal order
                            </p>
                        </div>
                    </div>
                    </a>
                </div>

                <div class="mr-3">
                    <a href="https://www.themoviedb.org/movie/872585-oppenheimer?language=en-US" target="_blank">
                    <div class="book">
                        <img src="https://m.media-amazon.com/images/M/MV5BMDBmYTZjNjUtN2M1MS00MTQ2LTk2ODgtNzc2M2QyZGE5NTVjXkEyXkFqcGdeQXVyNzAwMjU2MTY@._V1_.jpg"
                            alt="Book Image">
                        <div class="cover">
                            <p class="ml-2">Cillian Murphy and Emily Blunt depict the tumultuous journey of atomic bomb
                                creator, J. Robert Oppenheimer.</p>
                        </div>
                    </div>
                    </a>
                </div>

                <div class="mr-3">
                    <a href="https://www.themoviedb.org/movie/346698-barbie?language=en-US" target="_blank">
                    <div class="book">
                        <img src="https://i.ebayimg.com/images/g/1EcAAOSwa-9klig5/s-l1600.jpg" alt="Book Image">
                        <div class="cover">
                            <p class="ml-2">fantasy world, motherhood, satire, patriarchy</p>
                        </div>
                    </div>
                </a>
                </div>

                <div class="mr-3">
                    <a href="https://www.themoviedb.org/movie/146?language=en-US" target="_blank">
                    <div class="book">
                        <img src="https://m.media-amazon.com/images/M/MV5BNDdhMzMxOTctNDMyNS00NTZmLTljNWEtNTc4MDBmZTYxY2NmXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_.jpg"
                            alt="Book Image">
                        <div class="cover">
                            <p class="ml-2">Martial arts adventure unfolds in a whirlwind of love and secrets.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
        </div>
    </section>

    <section class="py-7 py-md-0 bg-secondary" id="pick">
        <div class="title-container2" id="content-container">
            <p class="lead2">What are you in the mood for? </p>
            <div style="flex-direction: row; justify-content: center; margin-top:-20px">
                <button onclick="getMovies(1)" class="mr-2">
                    mainstream
                </button>
                <button onclick="getMovies(0)" class="ml-2" style="color:white">
                    surprise me!
                </button>
            </div>
        </div>

        <!-- LOADING SCREEN -->
        <div class="title-container" id="loading-overlay" style="display:none">
            <div class="popcorn">
                <svg class="mypopcorn animated fadeIn" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 354.461 354.461"
                    style="enable-background:new 0 0 354.461 354.461;" xml:space="preserve">
                    <g id="XMLID_484_">

                        <circle id="popcrncirlce" class="firstcirle" cx="260.426" cy="22.695" r="22.695" />

                        <circle id="popcrncirlce" class="firstcirle" cx="163.426" cy="-16.695" r="22.695" />

                        <circle id="popcrncirlce" class="firstcirle" cx="65.426" cy="22.695" r="22.695" />

                        <path id="XMLID_488_" style="fill:#FFEB99;" d="M278.375,128.664c-0.05,0-0.099,0.007-0.149,0.008
                    c0.092-0.831,0.149-1.673,0.149-2.529c0-12.534-10.161-22.695-22.695-22.695c-0.05,0-0.099,0.007-0.149,0.008
                    c0.092-0.831,0.149-1.673,0.149-2.529c0-12.534-10.161-22.695-22.695-22.695c-0.752,0-1.495,0.041-2.228,0.112
                    c0.1-0.866,0.165-1.742,0.165-2.634c0-12.099-9.475-21.958-21.406-22.63C208.895,41.1,199.014,31.57,186.88,31.57
                    c-12.136,0-22.018,9.533-22.635,21.515c-0.04-0.002-0.08-0.004-0.119-0.006C163.505,41.1,153.624,31.57,141.491,31.57
                    c-12.136,0-22.018,9.533-22.635,21.515c-0.468-0.029-0.933-0.071-1.408-0.071c-12.534,0-22.695,10.161-22.695,22.695
                    c0,0.887,0.064,1.757,0.162,2.618C83.272,79.295,74.12,89.034,74.12,100.926c0,0.856,0.057,1.698,0.149,2.529
                    c-0.05,0-0.099-0.008-0.149-0.008c-12.534,0-22.695,10.161-22.695,22.695c0,0.856,0.057,1.698,0.149,2.529
                    c-0.05,0-0.099-0.008-0.149-0.008c-12.534,0-22.695,10.161-22.695,22.695c0,12.534,10.161,22.695,22.695,22.695
                    c12.534,0,22.695-10.161,22.695-22.695c0-0.856-0.057-1.698-0.149-2.529c0.05,0,0.099,0.008,0.149,0.008s0.099-0.007,0.149-0.008
                    c-0.092,0.831-0.149,1.673-0.149,2.529c0,12.534,10.161,22.695,22.695,22.695s22.695-10.161,22.695-22.695
                    c0-0.856-0.057-1.698-0.149-2.529c0.05,0,0.099,0.008,0.149,0.008c0.05,0,0.099-0.007,0.149-0.008
                    c-0.092,0.831-0.149,1.673-0.149,2.529c0,12.534,10.161,22.695,22.695,22.695c12.534,0,22.695-10.161,22.695-22.695
                    c0-0.856-0.057-1.698-0.149-2.529c0.05,0,0.099,0.008,0.149,0.008s0.099-0.007,0.149-0.008c-0.092,0.831-0.149,1.673-0.149,2.529
                    c0,12.534,10.161,22.695,22.695,22.695c12.534,0,22.695-10.161,22.695-22.695c0-0.856-0.057-1.698-0.149-2.529
                    c0.05,0,0.099,0.008,0.149,0.008s0.099-0.007,0.149-0.008c-0.092,0.831-0.149,1.673-0.149,2.529
                    c0,12.534,10.161,22.695,22.695,22.695s22.695-10.161,22.695-22.695c0-0.856-0.057-1.698-0.149-2.529
                    c0.05,0,0.099,0.008,0.149,0.008c0.05,0,0.099-0.007,0.149-0.008c-0.092,0.831-0.149,1.673-0.149,2.529
                    c0,12.534,10.161,22.695,22.695,22.695c12.534,0,22.695-10.161,22.695-22.695C301.07,138.825,290.909,128.664,278.375,128.664z
                     M185.473,76.889c0.04,0.002,0.08,0.004,0.119,0.006c0.025,0.48,0.048,0.96,0.103,1.432c-0.108,0.009-0.22,0.006-0.328,0.017
                    C185.423,77.864,185.447,77.377,185.473,76.889z M140.083,76.889c0.04,0.002,0.08,0.004,0.119,0.006
                    c0.025,0.48,0.048,0.96,0.103,1.432c-0.108,0.009-0.22,0.006-0.328,0.017C140.033,77.864,140.057,77.377,140.083,76.889z
                     M96.666,128.672c0.092-0.831,0.149-1.673,0.149-2.529c0-0.856-0.057-1.698-0.149-2.529c0.05,0,0.099,0.008,0.149,0.008
                    c0.05,0,0.099-0.007,0.149-0.008c-0.092,0.831-0.149,1.673-0.149,2.529c0,0.856,0.057,1.698,0.149,2.529
                    c-0.05,0-0.099-0.008-0.149-0.008C96.765,128.664,96.717,128.671,96.666,128.672z M119.361,103.455
                    c0.092-0.831,0.149-1.673,0.149-2.529c0-0.887-0.064-1.757-0.162-2.618c0.108-0.009,0.22-0.006,0.328-0.017
                    c-0.1,0.866-0.165,1.742-0.165,2.634c0,0.856,0.057,1.698,0.149,2.529c-0.05,0-0.099-0.008-0.149-0.008
                    C119.46,103.448,119.412,103.455,119.361,103.455z M142.056,128.672c0.092-0.831,0.149-1.673,0.149-2.529
                    c0-0.856-0.057-1.698-0.149-2.529c0.05,0,0.099,0.008,0.149,0.008s0.099-0.007,0.149-0.008c-0.092,0.831-0.149,1.673-0.149,2.529
                    c0,0.856,0.057,1.698,0.149,2.529c-0.05,0-0.099-0.008-0.149-0.008S142.106,128.671,142.056,128.672z M164.751,103.455
                    c0.092-0.831,0.149-1.673,0.149-2.529c0-0.887-0.064-1.757-0.162-2.618c0.108-0.009,0.22-0.006,0.328-0.017
                    c-0.1,0.866-0.165,1.742-0.165,2.634c0,0.856,0.057,1.698,0.149,2.529c-0.05,0-0.099-0.008-0.149-0.008
                    S164.802,103.455,164.751,103.455z M187.446,128.672c0.092-0.831,0.149-1.673,0.149-2.529c0-0.856-0.057-1.698-0.149-2.529
                    c0.05,0,0.099,0.008,0.149,0.008s0.099-0.007,0.149-0.008c-0.092,0.831-0.149,1.673-0.149,2.529c0,0.856,0.057,1.698,0.149,2.529
                    c-0.05,0-0.099-0.008-0.149-0.008S187.496,128.671,187.446,128.672z M210.141,103.455c0.092-0.831,0.149-1.673,0.149-2.529
                    c0-0.887-0.064-1.757-0.162-2.618c0.108-0.009,0.22-0.006,0.328-0.017c-0.1,0.866-0.165,1.742-0.165,2.634
                    c0,0.856,0.057,1.698,0.149,2.529c-0.05,0-0.099-0.008-0.149-0.008S210.191,103.455,210.141,103.455z M232.836,128.672
                    c0.092-0.831,0.149-1.673,0.149-2.529c0-0.856-0.057-1.698-0.149-2.529c0.05,0,0.099,0.008,0.149,0.008s0.099-0.007,0.149-0.008
                    c-0.092,0.831-0.149,1.673-0.149,2.529c0,0.856,0.057,1.698,0.149,2.529c-0.05,0-0.099-0.008-0.149-0.008
                    S232.886,128.671,232.836,128.672z" />
                        <path id="XMLID_44_" style="fill:#D77258;"
                            d="M34.376,159.361c2.49-22.257,21.497-39.711,44.39-39.711h0
                    c22.893,0,41.9,17.454,44.39,39.711h0.285v4.964v59.567v130.569H53.947L34.092,164.325v-4.964H34.376z" />
                        <path id="XMLID_501_" style="fill:#DEDFE8;"
                            d="M209.291,159.361c-2.49-22.257-21.497-39.711-44.39-39.711h0
                    c-22.893,0-41.9,17.454-44.39,39.711h-0.285v4.964v59.567v130.569h89.35V223.892v-59.567v-4.964H209.291z" />
                        <path id="XMLID_502_" style="fill:#FFE477;" d="M278.375,128.664c-0.05,0-0.099,0.007-0.149,0.008
                    c0.092-0.831,0.149-1.673,0.149-2.529c0-12.534-10.161-22.695-22.695-22.695c-0.05,0-0.099,0.007-0.149,0.008
                    c0.092-0.831,0.149-1.673,0.149-2.529c0-12.534-10.161-22.695-22.695-22.695c-0.752,0-1.495,0.041-2.228,0.112
                    c0.1-0.866,0.165-1.742,0.165-2.634c0-12.099-9.475-21.958-21.406-22.63C208.895,41.1,199.014,31.57,186.88,31.57
                    c-10.615,0-19.505,7.294-21.98,17.14V98.3c0.055-0.002,0.111-0.003,0.165-0.008c-0.1,0.866-0.165,1.742-0.165,2.634
                    c0,0.856,0.057,1.698,0.149,2.529c-0.05,0-0.099-0.008-0.149-0.008v45.39c0.05,0,0.099-0.007,0.149-0.008
                    c-0.092,0.831-0.149,1.673-0.149,2.529c0,12.534,10.161,22.695,22.695,22.695c12.534,0,22.695-10.161,22.695-22.695
                    c0-0.856-0.057-1.698-0.149-2.529c0.05,0,0.099,0.008,0.149,0.008s0.099-0.007,0.149-0.008c-0.092,0.831-0.149,1.673-0.149,2.529
                    c0,12.534,10.161,22.695,22.695,22.695s22.695-10.161,22.695-22.695c0-0.856-0.057-1.698-0.149-2.529
                    c0.05,0,0.099,0.008,0.149,0.008c0.05,0,0.099-0.007,0.149-0.008c-0.092,0.831-0.149,1.673-0.149,2.529
                    c0,12.534,10.161,22.695,22.695,22.695c12.534,0,22.695-10.161,22.695-22.695C301.07,138.825,290.909,128.664,278.375,128.664z
                     M185.367,78.344c0.055-0.479,0.08-0.966,0.105-1.454c0.04,0.002,0.08,0.004,0.119,0.006c0.025,0.48,0.048,0.96,0.103,1.432
                    C185.586,78.336,185.475,78.333,185.367,78.344z M187.744,128.672c-0.05,0-0.099-0.008-0.149-0.008s-0.099,0.007-0.149,0.008
                    c0.092-0.831,0.149-1.673,0.149-2.529c0-0.856-0.057-1.698-0.149-2.529c0.05,0,0.099,0.008,0.149,0.008s0.099-0.007,0.149-0.008
                    c-0.092,0.831-0.149,1.673-0.149,2.529C187.595,126.999,187.652,127.84,187.744,128.672z M210.439,103.455
                    c-0.05,0-0.099-0.008-0.149-0.008s-0.099,0.007-0.149,0.008c0.092-0.831,0.149-1.673,0.149-2.529c0-0.887-0.064-1.757-0.162-2.618
                    c0.108-0.009,0.22-0.006,0.328-0.017c-0.1,0.866-0.165,1.742-0.165,2.634C210.29,101.782,210.347,102.624,210.439,103.455z
                     M233.134,128.672c-0.05,0-0.099-0.008-0.149-0.008s-0.099,0.007-0.149,0.008c0.092-0.831,0.149-1.673,0.149-2.529
                    c0-0.856-0.057-1.698-0.149-2.529c0.05,0,0.099,0.008,0.149,0.008s0.099-0.007,0.149-0.008c-0.092,0.831-0.149,1.673-0.149,2.529
                    C232.985,126.999,233.042,127.84,233.134,128.672z" />
                        <path id="XMLID_510_" style="fill:#C9C7D7;" d="M209.291,159.361c-2.49-22.257-21.497-39.711-44.39-39.711h0v234.811h44.675
                    V223.892v-59.567v-4.964H209.291z" />
                        <path id="XMLID_515_" style="fill:#D14F4E;"
                            d="M295.424,159.361c-2.49-22.257-21.497-39.711-44.39-39.711h0
                    c-22.893,0-41.9,17.454-44.39,39.711h-0.285v4.964v59.567v130.569h69.495l19.856-190.136v-4.964H295.424z" />
                </svg>

            </div>
        </div>


        <!-- MOVIES CONTAINER -->
        <div id="movies-container" style="display:none; margin-top:-70px">

            <div class="title-container">
                <p class="lead2">Get more movies!</p>
                <div style="flex-direction: row; justify-content: center; margin-top: -23px; margin-bottom: 35px;">
                    <button onclick="getMovies(1)" class="mr-2">
                        mainstream
                    </button>
                    <button onclick="getMovies(0)" class="ml-2">
                        surprise me!
                    </button>
                </div>
            </div>


            <div class="container d-flex justify-content-center">
                <div class="row">
                    <div class="mr-3">
                        <a href="#" target="_blank">
                            <div class="book">
                                <div class="tooltip">
                                    <p>🍿click to reveal🍿</p>
                                  </div>
                                <img src="https://t4.ftcdn.net/jpg/05/36/94/71/360_F_536947179_8TFyEQV04BmYEWud21q3Znq4jZBlz9qA.jpg"
                                    alt="?" style="width: 50%; height:50%; opacity: 60%">
                                <div class="cover" id="card-0">
                                    <p class="ml-2 movie-description">
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="mr-3">
                        <a href="#" target="_blank">
                            <div class="book">
                                <div class="tooltip">
                                    <p>🍿click to reveal🍿</p>
                                  </div>
                                <img src="https://t4.ftcdn.net/jpg/05/36/94/71/360_F_536947179_8TFyEQV04BmYEWud21q3Znq4jZBlz9qA.jpg"
                                    alt="?" style="width: 50%; height:50%; opacity: 60%">
                                <div class="cover" id="card-1">
                                    <p class="ml-2 movie-description">
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="mr-3">
                        <a href="#" target="_blank">
                            <div class="book">
                                <div class="tooltip">
                                    <p>🍿click to reveal🍿</p>
                                  </div>
                                <img src="https://t4.ftcdn.net/jpg/05/36/94/71/360_F_536947179_8TFyEQV04BmYEWud21q3Znq4jZBlz9qA.jpg"
                                    alt="?" style="width: 50%; height:50%; opacity: 60%">
                                <div class="cover" id="card-2">
                                    <p class="ml-2 movie-description">
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="mr-3">
                        <a href="#" target="_blank">
                            <div class="book">
                                <div class="tooltip">
                                    <p>🍿click to reveal🍿</p>
                                  </div>
                                <img src="https://t4.ftcdn.net/jpg/05/36/94/71/360_F_536947179_8TFyEQV04BmYEWud21q3Znq4jZBlz9qA.jpg"
                                    alt="?" style="width: 50%; height:50%; opacity: 60%">
                                <div class="cover" id="card-3">
                                    <p class="ml-2 movie-description">
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>

        </div>



    </section>




    <div class="scroll-top">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="../static/scripts.js"></script>





    <!-- <div class="button-container">
    <button onclick="getMovies()">Get Movies</button>
</div>

<div class="rectangle-container">
    <a href="#" id="link-0" target="_blank"><div class="rectangle">?</div></a>
    <a href="#" id="link-1" target="_blank"><div class="rectangle">?</div></a>
    <a href="#" id="link-2" target="_blank"><div class="rectangle">?</div></a>
    <a href="#" id="link-3" target="_blank"><div class="rectangle">?</div></a>
</div> -->

</body>

</html>